.container {
  padding: 16px;
}

.waitlistContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 500px;
  height: 300px;
  background-color: rgba(0, 145, 255, 0.11);
}

.formContent {
  text-align: center;
}

.metaIcon {
  height: 20px;
  margin-left: 12px;
  color: #61914e;
}

.flexCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.twitterIcon {
  margin-left: 12px;
  color: #00acee;
}

a {
  text-decoration: none;
}

.connectedImage {
  height: 15px;
}

.Mui-disabled {
  color: black !important;
}
@media screen and (max-width: 900px) {
  .card {
    width: 300px;
    /* height: 100px; */
  }

  .stepLabel {
    display: none;
  }
}
